nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0d6efd;
    padding: 0px 20px;
    color: white;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
nav  a{
    color: #ffff !important;
    text-decoration: none;
}