table{
    width: 70%;
    margin: 30px auto;
    border: 1px solid black;
    text-align: center;
}
table li{
    list-style: none;
    text-align: center
}
span{
    cursor: pointer;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
