table{
    width: 70%;
    margin: 30px auto;
   
    box-shadow:0px 0px 10px #0d6efd3d;
    text-align: center;
    padding: 20px;
}
table li{
    list-style: none;
    text-align: center
}
span{
    cursor: pointer;
    margin-left: 10px;
}
td a{
    text-decoration: none;
}
p{
    text-align: center;
}
.delete{
    color: red;
}
.edit{
    color: blue;
}

.themeData{
    height: 320px;
    padding: 10px;
    margin-top: 30px;
    box-shadow:0px 0px 10px #0d6efd3d;
    
}
.themeData .themeImage{
    height: 40%;
    width: 100%;
}
.themeData .themeImage img{
    height: 100%;
    width: 100%;
}

.themeData p{
    margin: 0 !important;
}
.filterButton{
    width: 25%;
    margin: 40px auto;
}
.filterButton button{
    border: 1px solid;
}
.active, .filterButton button:hover{
   background-color:rgb(73, 82, 82);

}
